package __CLI_PACKAGE_NAME__

import (
	"context"

	"__MODULE_PATH__/internal/output"
)

type Runner struct {
	printer *output.Printer
}

func NewRunner(printer *output.Printer) *Runner {
	return &Runner{printer: printer}
}

func (r *Runner) Run(ctx context.Context, command string, dryRun bool) error {
	_ = ctx
	return r.printer.PrintResult(command, dryRun, !dryRun, "__PRIMARY_COMMAND_USE__ executed by __CLI_NAME__")
}
