__ENV_PREFIX___SERVICE_NAME=__SERVICE_NAME__
__ENV_PREFIX___GRPC_PORT=__DEFAULT_GRPC_PORT__
__ENV_PREFIX___HTTP_PORT=__DEFAULT_HTTP_PORT__
__ENV_PREFIX___LOG_LEVEL=info
__ENV_PREFIX___DB_DRIVER=postgres
__ENV_PREFIX___DB_DSN=postgres://postgres:postgres@db:5432/app?sslmode=disable

